Source: wb-mqtt-confed
Maintainer: Ivan Shvedunov <ivan4th@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-mqtt-confed
Architecture: armel
Depends: libc6 (>= 2.13), python-pyparsing (>= 1.5.6), python-netaddr (>= 0.7.7), ${misc:Depends}
Description: Configuration Editor Backend
